@import '../../assets/utils/colors';

.signUp {
  text-align: center;
  justify-content: center;
  display: flex;
  min-height: 100%;
  color: $noir;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &__inputLabelWrap {

    label {
      display: flex;
      width: 25%;
      text-align: left;
      align-items: center;
    }

    input {
      border-radius: 5px;
      width: 50%;
      height: 2em;
      border: 1px solid;
      margin-left: 7%;
      margin-right: 7%;
    }
  }

  &__container {
    border: 10px solid $noir;
    border-radius: 15px;
    background-color: $rose_quartz;
    width: 30%;
    padding: 3%;
    margin: 3%;

    &__loginSubmitInput {
      width: 40%;
      padding: 5px 20px;
      background-color: $snow_white;
      color: $cherry;
      border-radius: 20px;
      border: 1px solid $noir;
      font-size: large;
      font-weight: bold;
      cursor: pointer;
    }

    &__loginSubmitInput:hover {
      background-color: $dim_snow_white;
    }

    &__navLink {
      text-decoration: none;
      font-weight: bold;
      color: $cherry;
    }

    &__navLink:hover {
      text-decoration: underline;
    }
  }

  &__inputLabelWrap{
    display: flex;
    justify-content: center;
  }
 
}

@media screen and (max-width: 1024px) {
  .sign-up-container {
    width: 50%;
  }
}

@media screen and (max-width: 690px) {
  .sign-up-container {
    width: 80%;
  }
}
