//base pink shades
$rose_quartz: #F2A7C5; //this color is in between the two logo colors
$logo_light_pink: #F7CDC9;
$logo_dark_pink: #ED95C2;
$cherry: #CD2D64;
$dim_cherry: #b02858;

//base white shades
$snow_white: #FFFFFF;
$dim_snow_white: #e0e0e0;

//base purple shades
$midnight_plum: #120A3B;
$dark_amethyst: #1F184E;
$noir: #0A042A;