$rose_quartz: #F3B3C6; //this color is in between the two logo colors
$logo_light_pink: #F7CDC9;
$logo_dark_pink: #ED95C2;
$cherry: #CD2D64;
$snow_white: #FFFFFF;
$dim_snow_white: #e0e0e0;
$midnight_plum: #120A3B;
$noir: #0A042A;