@import '../../assets/utils/_colors.scss';

// .onboarding__formContainer__show__clicked {
//   background-color: $rose_quartz;
//   color: $noir;
//   border: 2px solid $noir;
//   border-radius: 25px;
//   pad: 3px;
//   font-size: large;
// }

.onboarding {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;

  &__formContainer {
    color: $cherry;

    &__hidden {
      display: none;
    }

    &__contentWrapper {
      border: 3px solid $rose_quartz;
      border-radius: 25px;
      background-color: $noir;
      color: $rose_quartz;
      text-align: center;
      margin: auto;
      margin-top: 3%;
      margin-bottom: 3%;
      width: fit-content;
      padding: 3%;

      &__inputLabelWrap {
        display: flex;
        justify-content: center;
  
        label {
          min-width: 25%;
          font-weight: bold;
        }
        
        input {
          border-radius: 5px;
          width: 50%;
          margin-left: 7%;
          margin-right: 7%;
        }

      }

      &__radio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 35%;
        margin: auto auto 5px auto;

        input {
          transform: scale(1.5);
          cursor: pointer;
        }
      }

      &__checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 20%;
        margin: auto auto 5px auto;

        input {
          transform: scale(1.5);
          cursor: pointer;
        }
      }
    }

    &__buttonWrapper {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      grid-auto-rows: 1fr;
      grid-gap: 10px;
      justify-content: center;

      &__atmosphere, &__notClicked {
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
        background-color: $snow_white;
        color: $noir;
        border: 2px solid $noir;
        border-radius: 10px;
        padding: 10px 15px;
        font-size: large;
        font-weight: 700;
        cursor: pointer;
      }

      &__atmosphere:hover, &__notClicked:hover {
        background-color: $rose_quartz;
      }

      &__clicked {
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: auto;
        background-color: $cherry;
        color: $noir;
        border: 2px solid $noir;
        border-radius: 10px;
        padding: 10px 15px;
        font-size: large;
        font-weight: 700;
      }

      &__clicked:hover {
        background-color: $dim_cherry;
      }

    }

    &__nextButton {
      cursor: pointer;
      background-color: $snow_white;
      padding: 10px;
      border-radius: 20px;
      border: none;
      min-width: 10%;
      font-size: larger;
      font-weight: bold;
    }

    &__backButton {
      cursor: pointer;
      position: absolute;
      left: 10%;
      background-color: $snow_white;
      padding: 10px;
      border-radius: 20px;
      border: none;
      min-width: 5%;
      font-size: larger;
      font-weight: bold;
    }

    &__backButton:hover, &__nextButton:hover {
      background-color: $dim_snow_white;
    }

    &__submitInput {
      cursor: pointer;
      background-color: $snow_white;
      color: $cherry;
      padding: 20px;
      border-radius: 20px;
      border: none;
      height: 3em;
      min-width: 10%;
      font-size: larger;
      font-weight: bold;
    }

    &__submitInput:hover {
      background-color: $cherry;
      color: $noir;
    }
  }
}