@import '../../assets/utils/_colors.scss';

  .firstPage {
    display: flex; 
    justify-content: center;
    height: 90vh;
  
  &__firstContainer {
    display: flex;
    width: 85%;
    background: url("../../assets/home_page_images/splashimage.jpg") no-repeat center center fixed; 
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
    align-items: center;
    border: 3px solid $noir;
    border-radius: 10px;

    &__middleContainer {
      max-width: 70%;
      padding: 18px 14px;
      max-height: 40%;
      margin: 0 auto;
      text-align: center;
      background-color: rgba($noir, 0.85);
      border-radius: 15px;
    }
  }

  &__header {
    color: $rose_quartz;
    margin: 0px;
    font-size: 48px;
  }
  
  &__span {
    color: $rose_quartz;
    font-weight: bold;
  }

  &__quote {
    color: $snow_white;
    width: 80%;
    margin: 20px auto;
    font-size: 16px;
  }

  &__splashImage {
    width: 5%;
    height: auto;
  }
    
  &__buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    button {
      min-width: 144px;
      min-height: 50px;
      margin: 10px 5px;
      padding: 10px;
      font-weight: bold;
      font-size: large;
      border: none;
    }

    &__startButton, &__loginButton {
      border-radius: 10px;
      cursor: pointer;
      span {
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        margin: 0px 10px;
        text-decoration: none;
      }
    }

    &__startButton {
      background-color: $snow_white;
      color: $cherry;
    }

    &__startButton:hover {
      background-color: $rose_quartz;
    }

    &__loginButton {
      background-color: $rose_quartz;
      color: $noir;
    }

    &__loginButton:hover {  
      background-color: $logo_dark_pink;
    }
    
  } 

}
