@import '../../assets/utils/_colors.scss';

.thirdPage {
    display: flex;
    flex-direction: row;
    background-color: $dark_amethyst;
    height: 90vh;
    align-items: center;

    &__imageWrap {
        display: flex;
        align-items: center;
        padding: 10px;
        min-width: 55%;

        img {
            width: 100%;
            height: auto;
            margin: auto;
            border: 3px solid $noir;
            border-radius: 30px;
        }

    }


    &__textWrap {
        background-color: $dark_amethyst;
        color: $snow_white;
        width: 40%;
        height: max-content;
        padding: 30px 25px;
        right: 5%;
        top: 30%;
        left: auto;
        border-radius: 10px;

        p {
            font-size: 18px;
            text-align: left;
        }

        h2 {
            text-align: left;
            color: $rose_quartz;
            font-size: xx-large;
        }

        button {
            min-width: 144px;
            min-height: 50px;
            padding: 10px;
            font-weight: bold;
            font-size: large;
            border: none;
            color: $cherry;
            border-radius: 10px;
            cursor: pointer;
            float: left;
        }

        button:hover {
            background-color: $rose_quartz;
        }
    }
}