@import '../../assets/utils/_colors.scss';

.nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba($noir, 0.8);
  height: 80px;
  margin-bottom: 5%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 10px;
    font-size: larger;
  }

  &__link:hover {
    color: $cherry;
  }

  &__dropdown {
    position: relative;
  }

  &__dropdownMenu {
    display: none;
    position: absolute;
    width: 275px;
    top: 100%;
    left: 0; 
    text-align: left;
    overflow: visible;
    background-color: $noir;
    padding: 15px;
    font-size: smaller;
    z-index: 1;

    li {
      margin-bottom: 5px;
      padding: 15px 0px 3px 0px; 
    }
    
  }

  &__dropdown:hover &__dropdownMenu {
    display: block;
  }

  &__navLogo {
    max-height: 70px;
    margin: 5px 0px 3px 10px;
  }

  &__navLogo:hover {
    filter: drop-shadow(10px 10px 20px $cherry);
  }

  &__link {
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
    color: $snow_white;
    font-weight: bold;
    max-height: 80px;

    div {
      max-height: 80px;
    }
  }

  &__hide {
    display: none;
  }

}

@media screen and (max-width: 1024px) {
  .nav {
    font-size: 18px;
  }
  #nav-loggedin {
    font-size: 18px;
  }
  .nav__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .nav-logo {
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
  }
}

// @media screen and (max-width: 690px) {
//   .nav {
//     font-size: 16px;
//   }
//   .nav__link {
//     padding-bottom: 15px;
//   }
//   .nav {
//     grid-template-columns: repeat(1, 1fr);
//     grid-template-rows: repeat(3);
//   }
//   #login-wrapper {
//     text-align: center;
//     padding-top: 0px;
//     padding-right: 0px;
//     padding-top: 0px;
//   }
//   .nav-logo {
//     margin-left: 0px;
//     padding-bottom: 0px;
//     height: 25px;
//   }
//   &__aboutLink {
//     padding-top: 0px;
//     text-align: center;
//   }
//   #nav-loggedin {
//     grid-template-columns: repeat(1, 1fr);
//     grid-template-rows: repeat(5, 1.5em);
//     font-size: 16px;
//   }
// }
