.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__modalBackdrop {
        background-color: rgba(0,0,0,0.3);
    }

    &__modalBox {
        position: relative;
        text-align: center;
        min-height: 70%;
        width: 30%;
        overflow-y: auto;
        background-color: white;
        z-index: 1;
        padding: 30px 10px 20px 10px;

        &__modalCloseButton {
            position: absolute;
            top: 5%;
            right: 0;
            transform: translate(-50%, 50%);
        
        }
    }

}