@import '../assets/utils/_colors.scss';

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $noir;
  height: 80px;
  margin-bottom: 5%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 10px;
    font-size: larger;
  }

  &__link:hover {
    color: $cherry;
  }

  &__dropdown {
    position: relative;
  }

  &__dropdownMenu {
    display: none;
    position: absolute;
    text-align: left;
    background-color: $midnight_plum;
    padding: 15px;
    font-size: smaller;

    li {
      margin-bottom: 5px;
      width: 400px; /* Adjust the width as desired */
      padding-top: 20px; 
    }
    
  }

  &__dropdown:hover &__dropdownMenu {
    display: block;
  }

  &__navLogo {
    max-height: 70px;
    margin: 5px 0px 3px 10px;
  }

  &__navLogo:hover {
    filter: drop-shadow(10px 10px 20px $cherry);
  }

  &__link {
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
    color: $snow_white;
    font-weight: bold;
    max-height: 80px;

    div {
      max-height: 80px;
    }
  }

  &__loginButton {
    padding: 8px 16px;
    background-color: $rose_quartz;
    color: $snow_white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  &__show {
    display: inline-block;
  }

  &__hide {
    display: none;
  }

}

@media screen and (max-width: 1024px) {
  .nav {
    font-size: 18px;
  }
  #nav-loggedin {
    font-size: 18px;
  }
  .navBar__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .nav-logo {
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
  }
}

// @media screen and (max-width: 690px) {
//   .nav {
//     font-size: 16px;
//   }
//   .navBar__link {
//     padding-bottom: 15px;
//   }
//   .nav {
//     grid-template-columns: repeat(1, 1fr);
//     grid-template-rows: repeat(3);
//   }
//   #login-wrapper {
//     text-align: center;
//     padding-top: 0px;
//     padding-right: 0px;
//     padding-top: 0px;
//   }
//   .nav-logo {
//     margin-left: 0px;
//     padding-bottom: 0px;
//     height: 25px;
//   }
//   &__aboutLink {
//     padding-top: 0px;
//     text-align: center;
//   }
//   #nav-loggedin {
//     grid-template-columns: repeat(1, 1fr);
//     grid-template-rows: repeat(5, 1.5em);
//     font-size: 16px;
//   }
// }
