/* .header {
  background-color: #001b46;
  top: 0;
  left: 0;
  width: 100%;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100px;
  font-size: 25px;
  font-weight: bold;
  font-weight: unset;
  z-index: 101;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.show {
  display: block;
}

.hide {
  display: none;
}

#nav-loggedin {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  font-weight: unset;
  z-index: 101;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.nav a:link {
  text-decoration: none;
  text-align: center;
}

.nav-logo {
  width: 100%;
  height: auto;
}

.nav-logo:hover {
  filter: drop-shadow(0px 0px 15px #fdc500);
}

.nav-link {
  padding-top: 2%;
  font-weight: bold;
}

.trending-link {
  text-align: center;
} */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #120A3B;
  height: 80px;
  margin-bottom: 5%;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  font-size: larger;
}

.nav-link:hover {
  color: #EF9BC3;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #120A3B;
  padding: 15px;
  font-size: smaller;
  
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin-bottom: 5px;
  width: 400px; /* Adjust the width as desired */
  padding-top: 20px; 
}

.nav-logo {
  height: 100px;
}

.nav-link {
  text-align: center;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  max-height: 80px;
}

.nav-link div {
  max-height: 80px;
}

.tab {
  padding: 8px 16px;
  background-color: #F5C7C8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}



@media screen and (max-width: 1024px) {
  .nav {
    font-size: 18px;
  }
  #nav-loggedin {
    font-size: 18px;
  }
  .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .nav-logo {
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 690px) {
  .nav {
    font-size: 16px;
  }
  .nav-link {
    padding-bottom: 15px;
  }
  .nav {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3);
  }
  #login-wrapper {
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
  .nav-logo {
    margin-left: 0px;
    padding-bottom: 0px;
    height: 25px;
  }
  .about-link {
    padding-top: 0px;
    text-align: center;
  }
  #nav-loggedin {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1.5em);
    font-size: 16px;
  }
}
