@import '../assets/utils/_colors.scss';
.home {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
  
    &__firstPage {
      display: flex; /* Use flexbox to position elements */
      justify-content: space-between; /* Align children to opposite ends */
      height: 100vh;
    }
  
    &__textContainer {
      width: 100%;
    }
  
    &__header {
      font-size: 9vw;
      color: $rose_quartz;
      margin: 0px;
    }
  
    &__span {
      color: $rose_quartz;
      font-weight: bold;
    }

    &__quote {
        color: $snow_white;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
  
    &__splashContainer {
        display: inline-block;
    //   display: flex;
    //   justify-content: flex-end; /* Align to the right */
    //   align-items: center; /* Center vertically */
    }
  
    &__splashImage {
      width: 5%;
      height: auto;
    }

    &__buttonSplashContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    &__buttonContainer {
        display: inline-block;
    }
  
    &__text {
      color: $snow_white;
      font-size: x-large;
    }

    a {
        text-decoration: none;
        display: inline-block;
    }

    &__startButton {
        display: flex;
        background-color: #fff;
        border-radius: 20px;
        border: none;
        height: 3em;
        min-width: 25%;
        overflow: visible;
        padding: 20px 40px;
        align-items: center;
        margin: auto;
        cursor: pointer;
        span {
            font-size: large;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
            color: $midnight_plum;
            margin: 0px 10px;
            text-decoration: none;
        }
    }
  
    &__nextPage {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 20px; /* Add some space below the firstPage section */
      height: 50vh;
      align-items: center;
    }
  }
  
  // @media screen and (max-width: 690px) {
//   .home-container {
//     grid-template-columns: repeat(1, 1fr);
//     margin-left: 25px;
//     margin-right: 25px;
//     gap: 0%;
//   }
//   .home-subcontainer {
//     margin-top: 0%;
//     padding: 0%;
//   }
//   .home-container img {
//     margin-top: 0%;
//   }
// }