.landing-container {
  text-align: center;
  min-height: 50vh;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.image-container img {
  width: 60%;
  height: 90%;
  border: 5px solid #090428;
  border-radius: 20px;
}

@media (max-width: 585px) {
  .image-container img {
    margin-top: 2%;

  }
  .image-container a {
    margin-bottom: 20px;
  }
  .image-container button {
    font-size: 15px !important;
  }
}

@media (max-width: 684px) {
  .image-container {
    grid-template-columns: 1fr
  
  }
}